{% extends "sil16VitrineBundle::layout.html.twig" %}
{% block content %}
    <h2>Connexion</h2>
    <form>
        <div class="form-group">
            <label for="email">Address Email :</label>
            <input type="email" class="form-control" id="email">
        </div>
        {#<div class="form-group">#}
            {#<label for="pwd">Mot de passe :</label>#}
            {#<input type="password" class="form-control" id="pwd">#}
        {#</div>#}
        {#<a href="{{ path('validerPanier') }}" class="btn btn-primary">Valider la commande</a>#}
        <button type="submit" class="btn btn-default">Confirmer</button>
    </form>
{% endblock %}