{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <h1>Liste de vos commandes</h1>
    <table  class="table table-striped table-hover">
    <thead>
    </thead>
    <tbody>
    {% if commandes is empty %}
        <tr><td>
                <div class="alert alert-info">Vous n'avez actuellement aucune commande.</div>
        </td></tr>
    {% else %}
        {% for commande in commandes %}
            <tr><td>
                    {% if commande.date %}<h4>Commande du {{ commande.date|date('d/m/Y') }} :</h4>{% endif %}
                    <p>Etat : {% if commande.etat %}passé{% endif %}{% if not commande.etat %}validée{% endif %}</p>
                    <h5>Articles</h5>
                    <ul>
                        {% for ligneDeCommande in commande.lignesDeCommandes %}
                            <li>x{{ ligneDeCommande.quantite }} {{ ligneDeCommande.article.libelle }} </li>
                        {% endfor %}
                    </ul>
                    <p>Prix total de la commande : {{ prices[loop.index-1] }}€</p>
                </td></tr>
        {% endfor %}
    {% endif %}
    </tbody>
    </table>
    </div>
{% endblock %}
