.table-data-price {
    text-align: right;
    width: 120px;
}

.data-price {
    text-align: right;
}

#btn-nav-shop {
    margin-right: 8px;
}

#table-row-total td{
    vertical-align: bottom;
}

#main {
    margin-right: 0;
}